 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Segoe UI", Arial, sans-serif;
      min-height: 100vh;
      padding: 20px;
      background: linear-gradient(135deg, #dfe9f3, #ffffff);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #222;
    }

    .container {
      max-width: 600px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      border: 6px double #222;
    }

    form label {
      display: block;
      margin-top: 12px;
      font-weight: bolder;
    }

    form input {
      width: 100%;
      padding: 8px;
      margin-top: 6px;
      border: 1px solid #aaa;
      border-radius: 8px;
    }

    .button {
      text-align: center;
      margin-top: 15px;
    }

    .genBtn {
      background-color: #3f4d67;
      color: white;
      padding: 10px 18px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
    }

    .certificate {
      background: #fff;
      border: 8px double #222;
      padding: 30px;
      max-width: 900px;
      margin: 30px auto;
      box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
    }

    .student-info {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background: #f8f9fa;
      border: 1px solid #bbb;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .student-info h3 {
      font-size: 16px;
      margin: 5px 0;
    }

    .student-info h3 span {
      font-weight: 400;
      margin-left: 10px;
    }

    table {
      width: 100%;
      margin-top: 30px;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #333;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #3f4d67;
      color: white;
    }

    tbody tr:nth-child(odd) {
      background-color: #f1f3f6;
    }

    tbody tr:nth-child(even) {
      background: #e9ecef;
    }

    tfoot td {
      font-weight: bold;
      background: #3f4d67;
      color: #fff;
    }

    .left {
      text-align: left;
    }